.p-footer
    .p-footer_inner
        .p-footer_logo
            img(src="img/footer/footer-logo.png", alt="社会保険労務士法人イージーネット")
        p.p-footer_content
            small 助成金専任チームがサポートする
            span 社会保険労務士法人イージーネット
        .p-footer_access
            p.tel 03-5335-7606
            p.time お電話受付 10時〜18時

        p.p-footer_copy ©Easy Net All Rights Reserved.
