section.p-post
    .p-post_wrap
        h2.p-post_head
            img(src="img/post/post-title.svg", alt="追伸")
        .p-post_inner
            h3.p-post_subTitle
                | お客様ファーストを<br class="sp">
                | 第一に考える私たちは、<br>
                | 従業員ファーストに考える<br class="sp">
                | 企業様を全力で応援します！
            p.p-post_text
                | 私たちイージーネットは利益優先ではなく、大切な従業員の雇用を守りたいと<br>
                | 考える経営者様のために少しでも何かできることがあればという<br>
                | 思いひとつで日々邁進しております。<br>
                | 新型コロナウイルスの影響によりこの国の経済や雇用が大きく傾いている中で、<br>
                | 私たちは確かな実績を元にあらゆる企業様をサポートさせて頂いております。