section.p-voice
    h2.p-voice_head
        img(src="img/voice/voice-title2.png", alt="イージーネットを利用してくださったお客様からたくさんのお喜びのお声が届いております！")
    .p-voice_arrow
        img(src="img/voice/voice-arrow.png", alt="")
    
    .p-voice_box
        h3.p-voice_title 従業員が一人も<br class="sp">欠けることがありませんでした！
        .p-voice_wrap
            .p-voice_img
                img(src="img/voice/voice-photo01.jpg", alt="")
                small ※写真はイメージです
            .p-voice_content
                h4.p-voice_name 神奈川県　フィットネスクラブ　W様
                .p-voice_inner
                    p 休業が続くなかで以前から懇意にしていた社労士に相談したところ、雇用調整助成金の申請は顧問契約をしないと受けられない、とのことでした。先の見通しも立たない中で新たな契約を結ぶのには抵抗がありました。ですが知り合いの紹介でイージーネットさんを知り、無料相談後に申請をお願いすることになりました。ビックリしたのは、申請をお願いして報酬も決まっていたのに、簡易版が発表されたら「御社は簡易版でも受給金額が変わらないため、そちらでの申請にしましょう。ご自身でやってもかまいませんし、任せていただくこともできます。その場合の料金は〇万円でかまいませんよ」と自分の報酬ではなく顧客のことを考えた提案をしてくれたことです。常に最新情報を教えていただき、助成金のプロだと感じています。


    .p-voice_box
        h3.p-voice_title お客様ファーストな精神を<br class="sp">強く感じました。
        .p-voice_wrap
            .p-voice_img
                img(src="img/voice/voice-photo02.jpg", alt="")
                small ※写真はイメージです
            .p-voice_content
                h4.p-voice_name 神奈川県　フィットネスクラブ　W様
                .p-voice_inner
                    p 休業が続くなかで以前から懇意にしていた社労士に相談したところ、雇用調整助成金の申請は顧問契約をしないと受けられない、とのことでした。先の見通しも立たない中で新たな契約を結ぶのには抵抗がありました。ですが知り合いの紹介でイージーネットさんを知り、無料相談後に申請をお願いすることになりました。ビックリしたのは、申請をお願いして報酬も決まっていたのに、簡易版が発表されたら「御社は簡易版でも受給金額が変わらないため、そちらでの申請にしましょう。ご自身でやってもかまいませんし、任せていただくこともできます。その場合の料金は〇万円でかまいませんよ」と自分の報酬ではなく顧客のことを考えた提案をしてくれたことです。常に最新情報を教えていただき、助成金のプロだと感じています。

    .p-voice_box
        h3.p-voice_title ピンチをチャンスに<br class="sp">変える提案をしてくれました！
        .p-voice_wrap
            .p-voice_img
                img(src="img/voice/voice-photo03.jpg", alt="")
                small ※写真はイメージです
            .p-voice_content
                h4.p-voice_name 千葉県　製造業　T様
                .p-voice_inner
                    p 取引先の生産が縮小し、それに伴い我々の工場も生産を止めなくてはならない状況になりました。ですがこうなることは事前にある程度予測ができていたので、以前から付き合いのあったイージーネットさんに相談したところ、自身でも申請できる小規模版での申請よりも、申請費用をお支払いしてでも従来版で申請することで、報酬以上に助成金額がアップすることを診断してくれました。元々自分で簡易版で申請しようかとも考えていましたが、従来版の申請をお願いすることで簡易版より1.5倍以上に助成金額がアップし、アップ分で報酬もお支払いできました。あのまま簡易版で申請していたら、と思うとゾッとします。本当にご相談してよかったです。