.p-header
    .p-header_inner
        a(href="index.html").p-header_link
            .p-header_logo
                img(src="img/header/header-logo.png", alt="社会保険労務士法人イージーネット")
            
            .p-header_title
                h1
                    small 助成金専任チームがサポートする
                    span 社会保険労務士法人イージーネット

        a(href="index.html#contact").p-header_button
            span 無料相談お申し込み