section.p-attention
    p
        | 新型コロナウイルス流行の影響により、<br>
        | 対応を迫られている<br class="sp">
        | 会社様に会社や大事な従業員さんの<br>
        | <span class="red">雇用を守るため</span>のお手伝いをさせて下さい。<br>
        | 4月や５月に休業した場合の<br class="sp">
        | 申請期限は<span class="red">”８月末”</span>までとなっております。