section.m-guide
    .m-guide_inner
        .m-guide_label
            .m-guide_box
                span.blue 今なら無料相談お申し込みで
                span.red
                    | 雇用調整助成金<br>
                    | 簡易版申請マニュアル進呈中！
        .m-guide_button.js-scroll-contact
            span 無料相談のお申し込みはこちら