section.p-contact#contact
    h2.p-contact_head 無料相談お申し込みフォーム

    .p-contact_container
        .p-contact_inner
            form(action="confirm.php" method="post").p-contact_form
                label(for="name").p-contact_input
                    span.required 担当者名
                    input(type="text" name="name")#name.js-required
                label(for="company").p-contact_input
                    span.required 会社名
                    input(type="text" name="company")#company.js-required
                label(for="tel").p-contact_input
                    span.required 電話番号
                    input(type="text" name="tel")#tel.js-required
                label(for="mail").p-contact_input
                    span.required メールアドレス
                    input(type="text" name="mail")#mail.js-required
                label(for="mail").p-contact_input
                    span.required メールアドレス（確認用）
                    input(type="text" name="mail2")#mail.js-required
                label(for="message").p-contact_input
                    span.required ご相談内容
                    textarea(name="message")#message.js-required
                
                .p-contact_privacy
                    span.head プライバシーポリシー
                    .p-contact_privacy-wrap
                        .p-contact_privacy-inner
                            p
                                | 個人情報保護方針<br>
                                | 制定年月日　2019年12月16日<br>
                                | 最終改正年月日　2019年12月16日<br>
                                | 社会保険労務士法人イージーネット<br>
                                | 代表社員 井餘田　和徳
                            p
                                | 当社は、当社が取り扱う全ての個人情報の保護について、社会的使命を十分に認識し、本人の権利の保護、個人情報に関する法規制等を遵守します。また、以下に示す方針を具現化するための個人情報保護マネジメントシステムを構築し、最新のＩＴ技術の動向、社会的要請の変化、経営環境の変動等を常に認識しながら、その継続的改善に、全社を挙げて取り組むことをここに宣言します。<br>
                                | Ａ）個人情報は、社会保険労務士業務業務における当社の正当な事業遂行上並びに従業員の雇用、人事管理上必要な範囲に限定して、取得・利用及び提供をし、特定された利用目的の達成に必要な範囲を超えた個人情報の取扱い（目的外利用）を行いません。また、目的外利用を行わないための措置を講じます。<br>
                                | Ｂ）個人情報保護に関する法令、国が定める指針及びその他の規範を遵守致します。<br>
                                | Ｃ）個人情報の漏えい、滅失、き損などのリスクに対しては、合理的な安全対策を講じて防止すべく事業の実情に合致した経営資源を注入し個人情報セキュリティ体制を継続的に向上させます。また、個人情報保護上、問題があると判断された場合には速やかに是正措置を講じます。<br>
                                | Ｄ）個人情報取扱いに関する苦情及び相談に対しては、迅速かつ誠実に、適切な対応をさせていただきます。<br>
                                | Ｅ）個人情報保護マネジメントシステムは、当社を取り巻く環境の変化を踏まえ、適時・適切に見直してその改善を継続的に推進します。
                            p
                                | 以上<br>
                                | 【お問合せ窓口】<br>
                                | 個人情報保護方針に関するお問合せにつきましては、下記窓口で受付けております。
                            p
                                | 社会保険労務士法人イージーネット 　個人情報問合せ窓口<br>
                                | 〒166-0004　東京都杉並区阿佐谷南3-37-13-705<br>
                                | TEL:03-5335-7606　　FAX:03-5335-7609　　MAIL:srh@eg-net.com<br>
                                | 受付時間9:00～18:00※<br>
                                | （※土・日・祝日、年末年始、ゴールデンウィークは除く）
                label(for="agree").p-contact_agree
                    .p-contact_agree-inner.js-required-check
                        input(type="checkbox" name="agree")#agree
                        span プライバシーポリシーに同意します。
                
                button(type="submit").js-submit
                    span 送信する