section.p-reason
    .p-reason_head
        h2.p-reason_head-title
            span.line イージーネットには助成金専門のチームがあるから
            span.strong 安心してお任せいただけます！
        p.p-reason_head-desc
            | 一口に社労士と言ってもその得意とする業務内容は事務所によって異なり、<br>
            | 助成金の申請自体行わないという社労士事務所も増えています。<br>
            | しかしイージーネットには助成金・補助金に特化した専門チームがあり、<br>
            | 早くから蓄積されてきたノウハウや経験があるため、<br>
            | 雇用調整助成金の申請件数でも業界TOPクラスの実績を誇っています！

    .p-reason_center
        h3.p-reason_center-title
            img(src="img/reason/reason-title.svg", alt="イージーネットが選ばれる３つの理由")
        .p-reason_center-inner
            .p-reason_center-block
                .p-reason_center-img
                    img(src="img/reason/reason-photo01.jpg", alt="創業20年目の信頼と実績")
                .p-reason_center-content
                    h4.p-reason_center-catch
                        | 理由1<br>
                        | 創業20年目の信頼と実績
                    p.p-reason_center-text イージーネットは創業20年目を迎えています。その間、従業員1名の企業から4000人を超える上場企業まで多くの企業のサポートをしてきました。信頼と実績を重ねることで、特に近年は税理士さんや弁護士さんといった他の士業からのご紹介が増えています。現在は上場企業数社を含む50社以上の顧問先と、年80件ほどの助成金・補助金の申請依頼があります。
            .p-reason_center-block
                .p-reason_center-img
                    img(src="img/reason/reason-photo02.jpg", alt="助成金について常に最新の情報を把握している")
                .p-reason_center-content
                    h4.p-reason_center-catch
                        | 理由2<br>
                        | 助成金について常に最新の情報を把握している
                    p.p-reason_center-text 助成金の制度は毎年変わります。新しい助成金もあれば、廃止されるものもあり名前はそのままでもルールが変わっているものが多いです。特に雇用長生助成金はコロナウイルスという突然の脅威に対応するために3月から5月のあいだ毎週のように変更がありました。常に変化について行く必要があるため、社会保険労務士でも助成金を取り扱わない事務所が増えています。しかし、私たちは助成金専門チームが常に最新情報を仕入れていますので、最新の制度を踏まえたご対応ができます。

            .p-reason_center-block
                .p-reason_center-img
                    img(src="img/reason/reason-photo03.jpg", alt="顧問契約を結ばずに助成金の相談を受けられる")
                .p-reason_center-content
                    h4.p-reason_center-catch
                        | 理由3<br>
                        | 顧問契約を結ばずに助成金の相談を受けられる
                    p.p-reason_center-text 上記にもあるように助成金を取り扱わない社労士が増えており、扱ったとしても雇用調整助成金の申請をするには顧問契約が必要なところも多いと聞いています。イージーネットでは顧問契約をしなくても、助成金のご相談だけしたい、というお客様にも対応しております。

    .p-reason_bottom
        .p-reason_bottom-inner
            .p-reason_bottom-head
                h3.p-reason_bottom-title
                    img(src="img/reason/reason-point.svg", alt="ご存知ですか？雇用調整助成金の申請方法は３種類あります！")
                .p-reason_bottom-photo
                    img(src="img/reason/reason-women.png", alt="")

            p.p-reason_bottom-desc
                | ①簡易な方法<br>
                | （従業員が概ね20名以内の小規模事業者向け）<br>
                | ②労働保険料の申告書の金額を基準に申請する方法　<br>
                | ③源泉所得税の納付書の金額を基準に申告する方法
            p.p-reason_bottom-content
                | ①簡易な方法は申請書や必要書類もだいぶ簡素化されているため、ご自身でも申請することができると思います。<br>
                | しかし、②③の申請は、助成金額のアップが見込まれるもののご自身での申請は難しく、社労士などの専門家の助けが必要だと思います。

    .p-reason_wave
        .p-reason_wave-top
            span 無料相談にお問い合わせ頂いた方にはもれなく！

        .p-reason_wave-content
            p
                span
                    | 専門家不要の自分でできる雇調金申請マニュアル
                br.sp
                span
                    | (小規模事業者向け)をプレゼント
            p
                span
                    | 専門家費用をかけてでも従来版を
                br.sp
                span
                    | 申請するメリットがあるかどうかを無料にて診断

        p.p-reason_wave-append ※税理士、社労士などの各士業の方や、コンサルタントなど中小企業を支援する方についてはご相談可能ですがマニュアルのプレゼントは対象外となります。
