section.p-flow
    h2.p-flow_title 無料<span class="red">相</span>談の流れ
    .p-flow_inner
        .p-flow_box
            .p-flow_step Step1
            h3.p-flow_subTitle お申し込み
            p.p-flow_content ページ内無料相談フォームから<br class="sp">お申し込みください。
        .p-flow_box
            .p-flow_step Step2
            h3.p-flow_subTitle 担当から打ち合わせ日程の<br class="sp">ご連絡
            p.p-flow_content 弊社担当者からお客様へ打ち合わせをさせていただく<br class="pc">日程についてのご連絡をさせて頂きます。
        .p-flow_box
            .p-flow_step Step3
            h3.p-flow_subTitle ご相談
            p.p-flow_content 原則Zoom等を用いたオンラインでのご相談となります。<br class="pc">雇用調整助成金の申請に関するご相談やご質問のほか、<br class="pc">他の助成金や補助金についてもご相談いただけます。
        .p-flow_box
            .p-flow_step Step4
            h3.p-flow_subTitle 助成金マニュアルのお渡し
            p.p-flow_content 助成金マニュアル等のダウンロード先URLとID・パスワードを<br class="pc">メールにてお知らせします。
        .p-flow_box
            .p-flow_step Step5
            h3.p-flow_subTitle <span class="red">※</span>従来版の申請ご希望の方
            p.p-flow_content 小規模の申請ではなく従来の更に高額な申請をご希望の方は<br class="pc">引き続き申請手続きについてご相談させて頂きます。
