section.p-thanks
    .p-thanks_head
        span 送信エラー
    .p-thanks_inner
        p お問い合わせ送信時にエラーが発生いたしました。
        p
            | お手数をおかけいたしますが、再度お問い合わせを送信いただくか、下記の連絡先までお電話でお問い合わせ下さい。
        p.sign
            | 社会保険労務士法人イージーネット<br>
            | TEL : 03-5335-7606