section.p-visual
    .p-visual_inner
        .p-visual_catch
            img(src="img/visual/visual-catch-sp.png", alt="雇用調整助成金の申請にお困りの方必見！！私たち助成金専門チームならすべて解決します！").sp
            img(src="img/visual/visual-catch.png", alt="雇用調整助成金の申請にお困りの方必見！！私たち助成金専門チームならすべて解決します！").pc
        .p-visual_content
            img(src="img/visual/visual-content-sp.png", alt="今なら無料相談のお申し込みの方には助成金マニュアルをプレゼント！従来版の申請をご希望の方もリーズナブルな費用で徹底サポート！").sp
            img(src="img/visual/visual-content.png", alt="今なら無料相談のお申し込みの方には助成金マニュアルをプレゼント！従来版の申請をご希望の方もリーズナブルな費用で徹底サポート！").pc
        .p-visual_marks
            .p-visual_marks-item
                img(src="img/visual/visual-mark01.png", alt="助成金申請件数業界TOPクラス")
            .p-visual_marks-item
                img(src="img/visual/visual-mark02.png", alt="上場企業を含めた顧問先50社以上")
            .p-visual_marks-item
                img(src="img/visual/visual-mark03.png", alt="社会保険労務士個人情報保護事務所　SRP　全国社会保険労務士会連合会")