section.p-worries
    .p-worries_inner
        .p-worries_head
            h2.p-worries_title
                img(src="img/worries/worries-title.svg", alt="こんなお悩みお持ちではありませんか？")
            .p-worries_content
                p
                    span 申請の仕方が複雑でわからない
                    span 期限が近づいてきたが何をしたら良いかわからない
                    span 顧問社労士に依頼したが断られた
                    span 相談する相手がいない
                    span 助成金だけお願いしたいのに顧問契約が必要
                    span 従業員の雇用をなんとしても守りたい
        .p-worries_img
            img(src="img/worries/worries-photo.png", alt="")

    .p-worries_bottom
        span 雇用調整助成金のプロが全て解決します！