section.p-faq
    h2.p-faq_head 良くある<span class="red">ご質問</span>
    .p-faq_inner
        ul.p-faq_list
            li.p-faq_item
                .p-faq_q
                    span 本当に無料で相談できるんですか？
                .p-faq_a
                    span もちろんです！まずは無料でお客様にとってベストな相談をさせて頂きます！
            li.p-faq_item
                .p-faq_q
                    span 助成金マニュアルは無料でもらえるんですか？
                .p-faq_a
                    span はい、無料相談の実施後、メールにてダウンロードURLをお送りいたします！
            li.p-faq_item
                .p-faq_q
                    span 補助金と助成金の違いってなんですか？
                .p-faq_a
                    span 補助金は審査が厳しく通らない場合も多いですが助成金は条件さえ揃っていれば確実に受けることができます。
            li.p-faq_item
                .p-faq_q
                    span 相談はオンライン以外では受け付けていませんか？
                .p-faq_a
                    span 原則はオンラインでのお打ち合わせとなります。直接対面をご希望であれば、<br class="pc">
                        | 都内の弊社打ち合わせセンターでのご相談も可能です。(訪問はしておりません。)
            li.p-faq_item
                .p-faq_q
                    span 顧問契約する必要はありますか？
                .p-faq_a
                    span 必要ありません。顧問契約をご希望の際に別途お声がけください。
                
