section.p-thanks
    .p-thanks_head
        span 送信完了
    .p-thanks_inner
        p 無料診断のお申し込みありがとうございます。
        p
            | ご入力いただきましたメールアドレスに自動返信メールをお送りいたしましたのでご確認ください。<br>
            | 万一、メールが届かない場合は、お手数ですが下記連絡先までご一報ください。
        p.sign
            | 社会保険労務士法人イージーネット<br>
            | TEL : 03-5335-7606