@charset "utf-8";
@use '../../global/__index' as var;

.m-faq{
    position: relative;

    &::before{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 0;
        height: 0;
        border-width: 0 0 195px 270px;
        border-style: solid;
        border-color: transparent transparent transparent rgba(#5FB1DE, 0.1);
    }

    &_inner{
        position: relative;
        z-index: 10;
        margin: 0 0 40px;
        padding: 30px 15px 0;
    }

    &_list{
        position: relative;
        margin: 0 0 15px;
        padding-right: 40px;
        font-size: 18px;
        font-weight: 400;
        background-color: #fff;
        cursor: pointer;
        &.open{
            &::after{
                display: none;
            }
        }
        &::before,
        &::after{
            content: '';
            position: absolute;
            background-color: #4D4D4D;
        }
        &::before{
            top: 27px;
            right: 10px;
            width: 17px;
            height: 2px;
        }
        &::after{
            top: 20px;
            right: 18px;
            width: 2px;
            height: 17px;
        }

        & dt::before,
        & dd::before{
            position: absolute;
            content: '';
            font-size: 28px;
        }
        & dt{
            position: relative;
            margin: 0 0 10px;
            padding: 15px 0 15px 40px;
            &::before{
                content: 'Q';
                top: 7px;
                left: 10px;
                color: var.$colorBase;
            }
        }

        & dd{
            display: none;
            position: relative;
            padding: 0 0 15px 70px;
            &::before{
                content: 'A';
                top: -8px;
                left: 40px;
                color: #DE5F5F;
            }
        }
    }
}


@media screen and (min-width: var.$container-size-sp) {

.m-faq{

}

}

@media screen and (min-width: var.$container-size-tab) {

.m-faq{

}

}
    
@media screen and (min-width: var.$container-size-tab-wide) {

.m-faq{

    &::before{
        content: '';
        position: absolute;
        top: 0;
        left: -60px;
        width: 0;
        height: 0;
        border-width: 0 0 287px 397px;
    }

    &_inner{
        padding: 60px 30px 0;
    }

    &_list{
        position: relative;
        margin: 0 0 15px;
        padding-right: 60px;
        font-size: 23px;

        &::before{
            top: 29px;
            right: 24px;
            width: 20px;
            height: 2px;
        }
        &::after{
            top: 20px;
            right: 33px;
            width: 2px;
            height: 20px;
        }

        & dt{
            position: relative;
            padding: 17px 60px 17px 72px;
            &::before{
                top: 11px;
                left: 26px;
                color: var.$colorBase;
            }

        }

        & dd{
            position: relative;
            padding: 0 0 17px 82px;
            &::before{
                top: -4px;
                left: 45px;
            }
        }
    }
}

}

@media screen and (min-width: var.$container-size-pc) {

.m-faq{

    &_inner{
        margin: 0 0 100px;
        padding: 60px 0 0;
    }
}

}